

.pat {
  height: 100vh;
  background-color: #edfeff;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #edfeff 16px
    ),
    repeating-linear-gradient(#1981f755, #1981f7);
}

